<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../../public/css/main.css" /></head>
  <body>
    <header>
        <nav>
            <h1>
                FAST Family Finder
            </h1>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/alllines">All Lines</a>
                </li>
                <li>
                    <a href="/myline">My Line</a>
                </li>
                <li>
                    <a href="/imagegallery">Image Gallery</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
  </body>
</html>