<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../../public/css/main.css" />
</head>

<header>
    <nav>
        <h1>
            FAST Family Finder
        </h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/line">All Lines</a>
            </li>
            <li>
                <a href="/users/register">My Line</a>
            </li>
            <li>
                <a href="/images">Image Gallery</a>
            </li>
        </ul>
    </nav>
</header>

<body>
    {{{body}}}
</body>

</html>