<main class="register">
    <div class="form-wrapper">
        <h2 class="h2-register">Add Littles</h2>
        <form action="/lines/myline/biglittle" method="POST" id="biglittle-form">
            <div class="input-container">
                <div class="input-group">
                    <label for="memberInput">Member:</label>
                    <select id="memberInput" name="member">
                        <option disabled selected value> -- select an option -- </option>
                        {{#each line.members}}
                        {{#if this.big}}
                        {{else}}
                        <option value="{{this.userName}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <button type="submit" id="submitButton" onclick="disableButton()">Sign Up</button>
    </div>
    </form>
    </div>
</main>