<main>
    <img src="../public/images/FAST_logo.png" alt="FAST Logo">
    <h1>Welcome to FAST Family Finder</h1>
    <p>
        Welcome to the FAST Family Finder—a digital hub connecting you with the Filipino Association of Stevens Tech
        (FAST) community. Explore member profiles, navigate your family tree, and view FAST memories through our image
        gallery. Our seamless messaging feature fosters communication within your line, strengthening
        big and little bonds. Join us in celebrating the diverse threads that weave our FAST community together. Join
        the FAST Family Finder, where connections flourish, and memories unfold.
    </p>
    <button href="/register">Get Started</button>
</main>
<footer>
    <ul>
        <li><a>Facebook</a></li>
        <li><a>Instagram</a></li>
    </ul>
</footer>