<main class="image-gallery">
<h1>Image Gallery</h1>
<form action="/images" method="GET" id="imageFilterForm">
    <label for="tagFilter">Search Pictures by Tag:</label>
    <input type="text" id="searchTagInput" name="searchTag" list="lines">
    <datalist id="lines">
        {{#each lines}}
            <option id="line-name">{{this.lineName}}</option>
        {{/each}}
    </datalist>
    <button type="submit">See Pictures</button>
    {{!-- Clear filter button should REDIRECT back to image gallery with all --}}
    <button type="button">Clear Tags</button> 
</form>
<form action="/images" method="POST" id="imageUploadForm">
    <label for="imageURLInput">Imgur Image URL</label>
    <input type="text" id="imageURLInput" name="imageURL"></input>
    <label for="imageTagsInput">Image Tags</label>
    <input type="text" id="uploadTagInput" name="uploadTag" list="lines">
    <datalist id="lines">
        {{#each lines}}
            <option id="line-name">{{this.lineName}}</option>
        {{/each}}
    </datalist>
    <button type="submit">Upload Image and Tags</button>
</form>
</main>

{{#if lines}}
    {{#each lines}}
        {{#each lines.pictures}}
            <img src="{{this}}">
        {{/each}}
    {{/each}}
{{else}}
    <h3>No lines have pictures yet</h3>
{{/if}}
{{!-- Render images from routes --}}