/*From Labs 8-11*/

.linePic{
    min-width: 23%;
    max-width: 23%;
    width:min-content;
    display: inline-block;
    margin-left: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid;
    height: auto;
    vertical-align: middle;
}

#formDiv{
    display: flex;
    align-items: center;
}

#imagesDiv{
    display: inline-block;
    max-width: 80%;
    background-color: antiquewhite;
    padding: 1.5%;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    flex-direction: column;
}

.submitBtn{
    margin-top: 1em;
    margin-bottom: 5em;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    background: #BEE3DB;
    border: 1px solid #555B6E;
    cursor: pointer;
    transition: all 200ms 0s ease-in-out;
    height: 50px;
    width: 100px;
    margin-right: -30px;
    text-align: center;
}

#submitBtn:hover{
    box-shadow: 3px 4px #89B0AE;
    background: #bee3c0;
    transition: all 700ms 0s ease-in-out;
}